# Copy file ini jadi .env lalu isi nilainya
REACT_APP_SUPABASE_URL=your_supabase_url_here
REACT_APP_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Nama admin (huruf kecil semua)
REACT_APP_ADMIN_NAME=your_name_here
# Password untuk masuk mode admin
REACT_APP_ADMIN_PASSWORD=your_password_here
